#spectrom_sync.sync-bulkactions-contents {
	display: inline-block;
	border: none;
}

#spectrom_sync.sync-bulkactions-contents .sync-button {
	width: auto;
	padding-left: 14px;
	padding-right: 10px;
}

#spectrom_sync.sync-bulkactions-contents .sync-button-icon {
	padding-right: 0;
}

.sync-bulkactions-msgs {
	display: block;
	margin: 0.5rem 2px 0.5rem 0;
margin: 0.2rem 0.2rem 0.2rem 8.16rem;
	border: 1px solid #dddddd;
	background: #fff;
	padding: 5px;
	position: absolute;
position: relative;
}

#spectrom_sync .sync-bulkactions-ui {
	padding: .2rem;
}

#spectrom_sync .sync-bulkactions-ui .sync-bulkactions-progress {
	background-color: light-gray;
	width: 100%;
	height: 1.5rem;
}
#spectrom_sync .sync-bulkactions-ui .sync-bulkactions-progress .sync-bulkactions-indicator {
	text-align: center;
	padding: 3px 0;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	background-color: #0085ba;
}
